/* Typography */
@import url('https://fonts.googleapis.com/css?family=Inter:regular,medium,bold&display=swap&subset=cyrillic');


body {
    font-family: 'Inter', sans-serif;

    background-color: #e5e5e5;

}
.container  {
    width: 375px;
    background-color: #121620;
}

.chair-number {
        x-display: block;
    width: 295px;
    height: 42px;
    color: #11162f;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
    border: 1px solid #c2c7d1;
    border-radius: 4px;

}

.chair-number_black {
    color: #b2b3bE;
    background-color: #373a41;
    border: 1px solid #848a95;
}
